.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}
#barmenu{
-fx-background-color: #87CEFA;
}
#tablero{
 -fx-background-color: #87CEFA;
    -fx-border-color: #191970;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
#groupmodojuego{
-fx-background-color: #87CEFA;
}
#btnStart{-fx-padding: 5 22 5 22;
              -fx-border-color: #191970;
              -fx-border-width: 2;
              -fx-background-radius: 0;
              -fx-background-color: #87CEFA;
              -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
              -fx-font-size: 11pt;
              -fx-text-fill: #1d1d1d;
}
#principalPane{
    -fx-background-image: url("light.jpeg");
}